*
{
    box-sizing: border-box;
}

body
{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
p
{
    margin: 0px;
}

.topnav
{
    background-color: #333;
    overflow: hidden;
}

.topnav h1
{
    float: left;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: 17px;
    
}

.column
{
    margin: 50px 5px;
    width: 25%;
    padding-left: 1%;
    padding-right: 1%;
    height: 450px;
}

.long_column
{
    margin: 50px 5px;
    width: 75%;
    padding-left: 1%;
    padding-right: 1%;
}

.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container:after
{
    content: "";
    display: table;
    clear: both;
}

.card
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    height: 100%;
}

.loanButton
{
    background-color: forestgreen;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    width: 75%;
}

.payLoanButton
{
    background-color: darkmagenta;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    width: 75%;
}

.workButton
{
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    width: 75%;
}

.depositSalary
{
    background-color: goldenrod;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    width: 75%;
}


.dropbtn 
{
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.buybtn
{
    float: right;
    background-color: aquamarine;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
  
.dropbtn:hover, .dropbtn:focus 
{
    background-color: #2980B9;
}
  
.dropdown 
{
    position: relative;
    display: inline-block;
    
}
  
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}
  
.dropdown-content opt 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content opt:hover 
{
    background-color: #ddd
}
  
.c0, .c1, .c2, .c3, .c4, .c5
{
    display: block;
    margin-bottom: 5px;
}

.adImage
{
    width: 250px;
    float: left;
    margin: 10px 10px 10px 10px;
}
.adDesc
{
    font-size: large;
}

.show 
{
    display:block;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}



